

<button type="button" id={{T_TASK_ID}} class="toDoButton btn btn-default ">

   <div class="button_text" id="{{T_TASK_ID}}_button_text">
      <div id="{{T_TASK_ID}}_taskType_warning">
         <!-- Warning what type of task it is -->
      </div>

      <div class="col-md-8 ">
         <p class="task_id">ID:{{T_TASK_ID}}</p>
      </div>

      <div class="col-md-8">
         <p class="task_p" >{{T_TASK}}</p>
      </div>

      <div id="{{T_TASK_ID}}_percentage">
         <!-- add the percentage here -->
      </div>
   </div>

   <span style="display:none;" class="tasktype" id='{{T_TASK_ID}}_taskType' >{{T_TASK_TYPE}}</span>
   <span style="display:none;" id="{{T_TASK_ID}}_taskStatus" >{{T_STATUS}}</span>

</button>


<script>

   var type = document.getElementById({{T_TASK_ID}} + "_taskType").innerHTML; //Type of status

   /* Size of button depends on the task type (SMALL_TASK || BIG_TASK || PARENT_TASK)*/
   if(type == 'BIG_TASK'){
      $("#"+{{T_TASK_ID}}).addClass( "toDoButton_big" );
      $( "#"+{{T_TASK_ID}}+"_taskType_warning" ).prepend( "<p class='task_type_warning' >Big Task</p>" );
      var percentage = {{T_STATUS}}*25;
      $("#"+{{T_TASK_ID}}+"_percentage").append( '<p class="task_p" id="{{T_TASK_ID}}_taskStatus_percentage" >'+percentage+'%</p>');
   }
</script>
